.image {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    top: 8px;
    left: 8px;
    right: 0;
     width: 30vw;
    transition: 5s ease;
    background-color: #ba0000;
    
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  #ham{
    margin-left:20px;
  }
